{% extends 'index.html' %}

{% block content %}

<div>
	<ul>
    <li>{{ data_.name }}</li>
		<li>{{ data_.percent }} %</li>
		<li>{{ data_.file }}</li>
		<li>{{ data_.created_at }}</li>
		<li>{{ data_.client_id }}</li>
	</ul>
</div>

<table border="10">
{% for i in data %}

	<tr>
		<td>{{ i.rol }}</td>
		<td>{{ i.user_id }}</td>
		<td>{{ i.project_id }}</td>
		<td>
			<a href="{% url 'view_rol' i.id %}">View</a>
		</td>
		<td>
			<a href="{% url 'update_rol' i.id %}">Edit</a>
		</td>
		<td>
			<a href="{% url 'delete_rol' i.id %}">Delete</a>
		</td>
	</tr>

{% endfor %}
</table>

<a href="{% url 'create_rol' %}">New rol</a>

{% endblock %}
