{% extends 'index.html' %}

{% block content %}

<table border="10">
{% for i in data %}

	<tr>
		<td>{{ i.name }}</td>
		<td>{{ i.telephone }}</td>
    	<td>{{ i.email }}</td>
		<td>{{ i.address }}</td>
		<td>
			<a href="{% url 'view_client' i.id %}">View</a>
		</td>
		<td>
			<a href="{% url 'update_client' i.id %}">Edit</a>
		</td>
		{% comment %}
		<td>
			<a href="{% url 'delete_client' i.id %}">Delete</a>
		</td>
		{% endcomment %}
	</tr>

{% endfor %}
</table>

<a href="{% url 'create_client' %}">register new client</a>

{% endblock %}
