<!DOCTYPE html>
<html>
<head>
	<title>Index page</title>
</head>
<body>
<label>Active user: {{ user.username }}</label>
<ul>

	{% if user.is_active %}
		<li><a href="{% url 'logout' %}">logout</a></li>
	{% endif %}
	
	{% if user.is_active == False %}
		<li><a href="{% url 'login' %}">login</a></li>
	{% endif %}

	
	<li><a href="{% url 'signup' %}">sign up</a></li>
	<li><a href="{% url 'list_client' %}">clients</a></li>
	<li><a href="{% url 'list_project' %}">projects</a></li>
</ul>

{% block content %}
{% endblock %}

</body>
</html>
